.burger-open,
.burger-arrow {
  width: 55px;
  height: 55px;
}

.burger-arrow a {
  &:hover {
    transform: scale(1.1);
  }
}

.burger-menu,
.burger-open,
.burger-close,
.burger-arrow {
  cursor: pointer;
  display: none;
  &:hover {
    transform: scale(1.1);
  }
}

.burger-menu,
.burger-open {
  @media (max-width: 900px) {
    display: flex;
    gap: 25px;
  }
}

.burger-open.active {
  display: none;
}

.burger-close.active {
  display: block;
}
