.press-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #bc8cff;
}

.press-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-inline: 5rem;
}
@media (max-width: 900px) {
  .press-main {
    padding-inline: 1.5625rem;
  }
}

.press-page .nav-press {
  padding-inline: 3.125rem;
}

.press-title {
  -webkit-padding-before: 4.0625rem;
          padding-block-start: 4.0625rem;
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
}
@media (max-width: 500px) {
  .press-title {
    text-align: center;
  }
}

.press-title h1 {
  font-size: 6.25rem;
}
@media (max-width: 500px) {
  .press-title h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}

.press-text p {
  font-size: 1.875rem;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  max-width: 53.125rem;
}
@media (max-width: 500px) {
  .press-text p {
    font-size: 1.375rem;
    max-width: 20.5625rem;
  }
}

.press-page .swiper-slide {
  max-width: 18.75rem;
}

.press-page .header {
  background-color: #f0f0f0;
}

#product-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(25.375rem, 1fr));
  gap: 1.875rem;
  -webkit-padding-before: 2.5rem;
          padding-block-start: 2.5rem;
  -webkit-padding-after: 6.25rem;
          padding-block-end: 6.25rem;
}
@media (max-width: 900px) {
  #product-container {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  }
}

.product-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 1.25rem;
  padding-block: 3.125rem;
}
@media (max-width: 900px) {
  .product-logo {
    padding-block: 1.875rem;
  }
}

.product-logo a {
  border: solid 0.0625rem black;
  -webkit-box-shadow: 0.3125rem 0.1875rem 0 0 rgb(0, 0, 0);
          box-shadow: 0.3125rem 0.1875rem 0 0 rgb(0, 0, 0);
  padding-block: 0.625rem;
  padding-inline: 1.125rem;
  border-radius: 6.25rem;
}

.press-page .footer_container {
  border: solid 0.0625rem black;
}

.press-page .header {
  position: relative;
  background-color: inherit;
  max-width: 90rem;
}

.subtitle {
  padding-block: 6.25rem;
  font-weight: 400;
  font-size: 1.875rem;
  font-family: Nunito Sans, sans-serif;
}
@media (max-width: 900px) {
  .subtitle {
    font-size: 1.375rem;
    -webkit-padding-before: 4.0625rem;
            padding-block-start: 4.0625rem;
    -webkit-padding-after: 2.1875rem;
            padding-block-end: 2.1875rem;
  }
}

.press-page .mealco_body-container {
  padding: 0;
}

.mealco-cards {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mealco-cards:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=press.css.map */
