<section class="footer_container">
  <div class="footer-body">
    <div class="footer-img">
      <img src="../../img/logo.svg" alt="logo" />
    </div>
    <div class="footer_body-nav">
      <div class="copyright">
        <p>2020 &copy; Mealco</p>
      </div>
      <div class="menu-footer">
        <ul class="menu-list">
          <li class="menu_list-item">
            <a href="" class="menu_list-link">Careers</a>
          </li>
          <li class="menu_list-item">
            <a href="" class="menu_list-link">Brands</a>
          </li>
          <li class="menu_list-item">
            <a href="" class="menu_list-link">Press</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
