<nav class="nav nav-brands">
  <a href="index.html"> <img class="nav-logo" src="img/logo.svg" alt="logo" /></a>

  <ul class="menu">
    <li class="menu_item menu-item-decoration">
      <a class="menu_item-link" href="brands.html">Brands</a>
    </li>
    <li class="menu_item menu-item-decoration">
      <a class="menu_item-link" href="press.html">Press</a>
    </li>
    <li class="menu_item button-decoration">
      <button id="waitlist" class="menu_item-link menu_item-link--button button-decoration">Join our waitlist!</button>
    </li>
  </ul>
  @@include("./burger.html")
</nav>
