<div class="modal">
  <div class="modal-window">
    @@include("./modalSucces.html")
    <div class="modal_body">
      <div class="modal_body-join">
        <div class="modal-title">
          <h2>Join our waitlist</h2>
        </div>
        <div class="body-column">
          <form class="form-body" action="">
            <div class="form-input">
              <label for="firstname">First name</label>
              <input
              class="form_input-button"
                required
                type="text"
                id="firstname"
                name="firstname"
                autocomplete="firstname"
                placeholder="name..."
              />
            </div>
            <div class="form-input">
              <label for="lastname">Last name</label>
              <input
                class="form_input-button"
                required
                type="text"
                id="lastname"
                name="lastname"
                autocomplete="lastname"
                placeholder="lastname..."
              />
            </div>
            <div class="form-input">
              <label for="phone">Phone</label>
              <input
                class="form_input-button"
                required
                type="number"
                id="phone"
                name="phone"
                autocomplete="phone"
                placeholder="number..."
              />
            </div>
            <div class="form-input">
              <label for="email">Email</label>
              <input
                class="form_input-button"
                required
                type="email"
                id="email"
                name="email"
                autocomplete="email"
                placeholder="email..."
              />
            </div>
            <div class="form-input">
              <label for="restaurant-name">Restaurant name</label>
              <input
                class="form_input-button"
                required
                type="text"
                id="restaurant-name"
                name="restaurant-name"
                autocomplete="firstname"
                placeholder="restaurant name..."
              />
            </div>
            <div class="form-input">
              <label for="restaurant-address">Restaurant address</label>
              <input
                class="form_input-button"
                required
                type="text"
                id="restaurant-address"
                name="restaurant-address"
                autocomplete="firstname"
                placeholder="restaurant address..."
              />
            </div>
          </form>
          <div class="mealco_get-body">
            <h2>Mealco’s partners get</h2>
            <div class="conteiner_partners-items">
              <div class="partners_body-items">
                <div class="partner_item">
                  <img src="./../../../img/imgPartner/vector_partner.svg" alt="icon" />
                  <p>Exclusivity over their territory</p>
                </div>

                <div class="partner_item">
                  <img src="./../../../img/imgPartner/vector_partner.svg" alt="icon" />
                  <p>Free marketing</p>
                </div>
                <div class="partner_item">
                  <img src="./../../../img/imgPartner/vector_partner.svg" alt="icon" />
                  <p>Free technology</p>
                </div>
                <div class="partner_item">
                  <img src="./../../../img/imgPartner/vector_partner.svg" alt="icon" />
                  <p>Training</p>
                </div>
                <div class="partner_item">
                  <img src="./../../../img/imgPartner/vector_partner.svg" alt="icon" />
                  <p>24/7 Support</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="submit-button" class="modal_body-button">
        <button type="button  " class="modal-button">Submit</button>
      </div>
    </div>

    <button class="btnClose"><img src="../../img/imgBurger/menuClose.svg" alt="close" /></button>
  </div>
  <div class="overlay"></div>
</div>
