@use "../variables" as f;

.footer_container {
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  background-color: white;

}
.footer-body {
  display: flex;
   width: 100%;
   padding-inline: 80px;
  align-items: center;
  @media (max-width: 900px) {
    flex-direction: column;
    padding: 0;
  
  }

}
.footer-img {
  padding-block: 35px;
  padding-inline-end: 80px;
  border-right: solid 1px black;
  @media (max-width: 900px) {
    border: inherit;
    padding: 20px;
    
  
  }
}

.footer-img img {
    width: 100%;
}

.footer_body-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 900px) {
    flex-direction: column-reverse;
    text-align: center;
    border: solid 1px black;
   
  
  }
}
.copyright {
  padding-inline-start: 80px;
  @media (max-width: 900px) {
      padding-inline-start: 0;
    padding-block: 20px;
  
  }
}
.copyright p {
  font-size: f.$font-size-13;
  font-family: f.$font-secondary-nunito;
}

.menu-list {
  display: flex;
  gap: 50px;
  @media (max-width: 900px) {
    padding-block-start: 20px;
  
  }
}

.menu_list-link {
  font-size: f.$font-size-13;
  font-weight: 700;
}
